<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3"><i class="fas fa-globe">&nbsp;</i>UrlShortener</h1>
        <form>
          <div class="form-group">
            <label for="longUrl">Long Url</label>
            <input
              value=""
              id="longUrl"
              name="longUrl"
              class="form-control"
              disabled
            />
          </div>
          <br>
          <button type="submit" class="btn btn-primary btn-block">Shorten!</button>
        </form>
      </div>
    </div>
  </div>