<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1><i class="fas fa-globe"></i></h1>
        <p>The Simple URL Shortener</p>
        <a href="/url/shorten" class="btn btn-primary btn-block mb-2">Shorten Url</a>
      </div>
    </div>
  </div>