
<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <div class="container">
        <img width="300px" src="catto1.jpg">
        </div>
        <h3>Catto URL Shortener</h3>
        <a href="url/shorten" class="btn btn-primary btn-block mb-2">Shorten URL</a>
      </div>
    </div>
  </div>