<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
      
        <h1 class="text-center mb-3"><i class="fas fa-link"></i> Shortened URL</h1>
      
          
          <div class="container">
            <h6>Short Url</h6>
            <p><%= url %></h6>
          </div>

          <div class="container">
            <h6>Date</h6>
            <h6><%= date %></h6>
          </div>
          
          <div>
          <a href="<%= url %>" class="btn btn-primary btn-block">Use Link</a>
          </div>
          
        <p class="lead mt-4">
          Deep Fried Mars Bars
        </p>
      </div>
    </div>
  </div>