<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3"><i class="fas fa-link"></i> Shorten URL</h1>
        <form action="/url/shorten" method="POST">
          <div class="form-group">
            <label for="url">Long URL</label>
            <input
              name="link"
              class="form-control"
              placeholder="Enter Long URL"
            />
          </div>
          <br>
          <div>
            <button type="submit" class="btn btn-primary btn-block">Shorten!</button>
          </div>
          
        </form>
        <p class="lead mt-4">
          Deep Fried Mars Bars
        </p>
        <div class="container">
            <h2></h2>
        </div>
      </div>
    </div>
  </div>